<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Milk2</li>
      <li>Tea</li>
      <li>Chololate</li>
      <li>add more...</li>
    </ul>
  </body>
</html>